*{
    padding:0;
	margin:0;
}

p{
	font-family: "Courier New";
	
}
.navbar-br {
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
  
}
.img-circle {
    border-radius: 50%;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















